@import "tailwindcss";

@theme {
  --color-dark-bg: #020617;
  --color-neon-purple: #7c3aed;
  --color-electric-blue: #3b82f6;
}

:root {
  --font-main: 'Inter', system-ui, sans-serif;
}

body {
  background-color: var(--color-dark-bg);
  color: white;
  font-family: var(--font-main);
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
