---
import Layout from '../layouts/Layout.astro';
import Nav from '../components/Nav.astro';
import Hero from '../components/Hero.astro';
---

<Layout title="ArgusVPN | Stable & Secure Connection">
	<Nav />
	<main>
		<Hero />
	</main>
</Layout>
